/* Fonts */

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/dm-sans-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/dm-sans-v11-latin-regular.svg#DMSans") format("svg"); /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v11-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/dm-sans-v11-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dm-sans-v11-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/dm-sans-v11-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/dm-sans-v11-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/dm-sans-v11-latin-500.svg#DMSans")
      format("svg"); /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-300.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v20-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v20-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v20-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

/* Main styles start */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #666666;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Main styles end */

/* Menu styles start */

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 49px 0 245px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__links {
  margin-right: 58px;
  text-decoration: none;
}
.menu__links:last-child {
  margin-right: 0px;
}

.menu__link {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #666666;
  text-decoration: none;
}

.menu__social-network {
  margin-right: 20px;
}
.menu__social-network:last-child {
  margin-right: 0px;
}

/* Menu styles start */

/* Header styles start */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 348px;
}

.header__title {
  width: 636px;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  color: #42446e;
}

.header__span {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__logo {
  width: 352px;
  height: 352px;
  background: #42446e
    linear-gradient(
      rgba(231, 15, 170, 1) 0%,
      rgba(226, 19, 172, 1) 50%,
      rgba(0, 192, 253, 1) 100%
    );
  border-radius: 50%;
  position: relative;
}

.header__logo::after {
  position: absolute;
  content: "";
  background: url(../img/logo.jpg);
}
/* Header style end */

/* Section stack styles start */

.tech-stack {
  padding-bottom: 214px;
}

.tech-stack__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  color: #42446e;
  padding-bottom: 49px;
  text-align: center;
}

.tech-stack__desc {
  font-size: 32px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 147px;
}

.tech-stack__icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 96px;
  justify-content: center;
}

/* Section stack styles start */

.projects {
  text-align: center;
  margin-bottom: 141px;
}

.projects__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  color: #42446e;
  padding-bottom: 49px;
}

.projects__decs {
  font-size: 32px;
  line-height: 26px;
  padding-bottom: 96px;
}

.projects__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
}

.card__wrapper {
  width: 370px;
  background-color: #fff;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 62px;
}

.card__content {
  width: 300px;
  margin: 0 auto;
}

.card__img {
  margin-bottom: 27px;
  width: 370px;
}

.card__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 26px;
  color: #000;
  margin-bottom: 17px;
}

.card__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 12px;
  text-align: left;
}

.card__skill {
  font-size: 16px;
  line-height: 26px;
  color: #42446e;
  padding-bottom: 21px;
}

.card__skill-span {
  font-weight: 300;
  font-size: 14px;
}

.card__link {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  color: #000;
  margin-bottom: 25px;
  padding-left: 30px;
}

.card__link-live {
  background: url(../img/svg/card-1.svg) no-repeat;
  margin-right: 48px;
}

.card__link-view {
  background: url(../img/svg/card-2.svg) no-repeat;
}
/* Section projects styles end */

/* Section contacts styles start */

.contacts {
  margin-bottom: 53px;
  justify-content: space-between;
  position: relative;
  padding-bottom: 55px;
}

.contacts::after {
  display: block;
  content: "";
  width: 1200px;
  height: 2px;
  background-color: #d2d2d2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts__contact {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
}

.contacts__phone {
  font-size: 18px;
  line-height: 26px;
  color: #42446e;
  margin-right: 33px;
}

.contacts__email {
  font-size: 18px;
  line-height: 26px;
  color: #42446e;
}

.contacts__social-network {
  margin-right: 20px;
}
.contacts_social-network:last-child {
  margin-right: 0px;
}
/* Section contacts styles end */

/* Footer styles start */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__links {
  margin-right: 52px;
}

.footer__links:last-child {
  margin-right: 0px;
}

.footer__link {
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 26px;
  color: #42446e;
  text-decoration: none;
}

.footer__copyright {
  font-size: 18px;
  line-height: 26px;
}
.footer__span {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  mix-blend-mode: normal;
}

/* Footer styles end */
